@import "tailwindcss";
@plugin "daisyui";

@import "daisyui/theme/light.css";
@import "daisyui/theme/dark.css";
@import "daisyui/theme/cupcake.css";
@import "daisyui/theme/bumblebee.css";
@import "daisyui/theme/emerald.css";
@import "daisyui/theme/corporate.css";
@import "daisyui/theme/synthwave.css";
@import "daisyui/theme/retro.css";
@import "daisyui/theme/cyberpunk.css";
@import "daisyui/theme/valentine.css";
@import "daisyui/theme/halloween.css";
@import "daisyui/theme/garden.css";
@import "daisyui/theme/forest.css";
@import "daisyui/theme/aqua.css";
@import "daisyui/theme/lofi.css";
@import "daisyui/theme/pastel.css";
@import "daisyui/theme/fantasy.css";
@import "daisyui/theme/wireframe.css";
@import "daisyui/theme/black.css";
@import "daisyui/theme/luxury.css";
@import "daisyui/theme/dracula.css";
