{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 160,
	"tabWidth": 4,
	"plugins": [
		"prettier-plugin-svelte"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"singleAttributePerLine": false,
	"bracketSameLine": true,
	"jsxBracketSameLine": true
}