@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "./base.css";
@import "./components.css";
@import "./utilities.css";
@import "./theme.css";
@import "./snippets.css";
@import "./css-properties.css";
@import "./main.css";
