@font-face {
	font-family : 'Arimo';
	src         : url('../assets/fonts/Arimo-Variable.ttf');
	font-display: swap;
}

@font-face {
	font-family : 'Mona Sans';
	src         : url('../assets/fonts/Mona-Sans.woff2');
	font-display: swap;
}

@font-face {
	font-family : 'Roboto';
	src         : url('../assets/fonts/Roboto.ttf');
	font-display: swap;
}

html {
	word-break : break-word;
	height     : 100%;
	min-height : 100%;
	font-family: 'Segoe UI';
	font-size  : 0.9em;
}

body {
	height    : 100%;
	min-height: 100%;
	word-break: break-word;
}

.spin {
	animation-name           : spin;
	animation-duration       : 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.hljs {
	@apply rounded-lg;
}

.iconify {
	display: inline-block;
}

html {
	font-family: Roboto, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

code.hljs {
	display   : block !important;
	overflow-x: auto;
	padding   : 1em;
	border    : px solid red;
	white-space: pre-line
}