@font-face {
	font-family : 'Arimo';
	src         : url('../assets/fonts/Arimo-Variable.ttf');
	font-display: swap;
}

@font-face {
	font-family : 'Mona Sans';
	src         : url('../assets/fonts/Mona-Sans.woff2');
	font-display: swap;
}

@font-face {
	font-family : 'Roboto';
	src         : url('../assets/fonts/Roboto.ttf');
	font-display: swap;
}

html {
	word-break : break-word;
	height     : 100%;
	min-height : 100%;
	font-family: 'Segoe UI';
	font-size  : 0.9em;
}

body {
	height    : 100%;
	min-height: 100%;
	word-break: break-word;
}

.spin {
	animation-name           : spin;
	animation-duration       : 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.hljs {
	@apply rounded-lg;
}

.iconify {
	display: inline-block;
	&.sm {
		font-size: 0.8em;
	}
	&.md {
		font-size: 1.6em;
	}
	&.lg {
		font-size: 2em;
	}
}

html {
	font-family: Roboto, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

code.prismDone {
	@apply bg-neutral-600   dark:bg-neutral-800  ;
}

.codeFormat{
	border-radius: 8px;
	overflow: hidden;
	@apply bg-neutral-600   dark:bg-neutral-800;

}

hr { 
	margin: 1em 0;
	border: 1px solid top;
	@apply  border-indigo-500/30 dark:border-white/20
}

code[class*="language-"]{ 
	border-radius: 0;
	border:none;
	display    : block !important;
	overflow-x : auto;
	padding    : 1em; 
	padding    : 1em;
	white-space: pre-wrap;
	padding-top: 1em; 
	margin:0; 

	display    : block !important;
	overflow-x : auto; 
	white-space: pre-wrap; 
	
	color       : white; 
	text-shadow : 0 0.1px rgba(255,255,255,0); 
	text-align  : left;
	white-space : pre;
	word-spacing: normal;
	word-break  : normal;
	word-wrap   : normal; 

	-moz-tab-size: 4;
	-o-tab-size  : 4;
	tab-size     : 4;

	-webkit-hyphens: none;
	-moz-hyphens   : none;
	-ms-hyphens    : none;
	hyphens        : none;

	@apply bg-neutral-600  dark:bg-neutral-800;
}

pre[class*="language-"] {
	padding: 0em;
	margin : 0;
	overflow: auto;
	border:none;
}

code[class*="language-none"] { 
	padding: 1em!important;
	margin : 1em 0; 
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: inherit;
		@apply bg-neutral-600  dark:bg-neutral-800;
}