@layer utilities {
  .line-gap-2 {
    @apply flex items-center;
    @apply gap-2;
  }

  .col-gap-2 {
    @apply flex flex-col;
    @apply gap-2;
  }

  .flex-align-middle {
    @apply flex items-center;
  }

  .flex-v {
    @apply flex flex-col;
  }

  column {
    @apply flex;
  }
  row {
    @apply flex flex-col;
  }
  full {
    @apply flex-1;
  }
}
