

.flex-align-middle {
    @apply flex items-center;
}

.flex-v { 
    @apply flex flex-col;
}

.application {
    @apply text-gray-700 bg-gray-50;
    @apply dark:bg-gray-800 dark:text-gray-100
}

.inputSearch {
    @apply w-full p-1 rounded-md border border-gray-700;
    @apply text-gray-700 bg-gray-200;
    @apply dark:bg-gray-900 dark:text-gray-100
}
.appButton {
    @apply text-left px-1 py-1 rounded-md border border-gray-700;
    @apply text-gray-700 bg-gray-200;
    @apply dark:bg-gray-900/40 dark:text-gray-100
}

.borderButton {
    @apply text-left px-1 py-1 rounded-md border ;
    @apply text-gray-700 bg-gray-50 border-gray-300;
    @apply dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700
}

.inputTextarea {
     @apply border overflow-hidden rounded-md  ;
     @apply  text-gray-700  dark:text-gray-700;
}
.iconButton{
    aspect-ratio: 1/1;
}

input[type="text"],input[type="search"] {
    @apply rounded-md p-2;
    @apply  bg-white/80 dark:bg-white/10 ;
    @apply  text-gray-700 dark:text-gray-100;
    @apply   border border-gray-400/60  hover:border-gray-400/90;
}

button:disabled {
    opacity: 0.5;
}

select {
    @apply rounded-md p-2;
    @apply  bg-white/80 dark:bg-white/10 ;
    @apply  text-gray-700 dark:text-gray-100;
    @apply   border border-gray-400/60  hover:border-gray-400/90;
    &.naked{
        @apply  border-none bg-transparent;
    
    }
}


.iconify {
	display: inline-block;
    opacity:0.7;
    font-size: 1.1em; 
	&.sm {
		font-size: 1.1em;
	}
	&.md {
		font-size: 1.6em;
	}
	&.lg {
		font-size: 2em;
	}
    &.spin {
        animation: spin 1s linear infinite;
    }
}