@utility line-gap-2 {
  @apply flex items-center;
  @apply gap-2;
}

@utility col-gap-2 {
  @apply flex flex-col;
  @apply gap-2;
}

@utility flex-align-middle {
  @apply flex items-center;
}

@utility flex-v {
  @apply flex flex-col;
}

@layer utilities {

  column {
    @apply flex;
  }
  row {
    @apply flex flex-col;
  }
  full {
    @apply flex-1;
  }
}
