@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	&&.theme-bg {
		@apply text-gray-700 bg-gray-50;
		@apply dark:bg-gray-800 dark:text-gray-100;
	}
	&&.theme-bg-dark {
		@apply text-gray-700 bg-gray-200;
		@apply dark:bg-gray-900 dark:text-gray-100;
	}
}
@theme {
  --color-bg: var(--bg-gray-50);
  --color-text: var(--text-gray-700);
}

@custom-variant dark (&:where(.dark, .dark *)) {
  --color-bg: var(--bg-gray-800);
  --color-text: var(--text-gray-700);
}