@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	:root {
		--theme-primary: rgb(59 130 246);

		--theme-bg-top: rgb(239 246 255);
		--theme-bg-dark: rgb(31 41 55);
	}

	.theme-primary-color {
		@apply text-yellow-600;
	}

	.theme-primary-bg {
		@apply bg-yellow-600;
	}

	.theme-primary-border{
		@apply border-yellow-600/50
	}

	.theme-color-bg {
		@apply bg-blue-50 dark:bg-gray-800;
	}
	.theme-font-color {
		@apply text-gray-700 dark:text-gray-100;
		@apply bg-gray-50 dark:bg-gray-800;
	}
	.theme-bg {
		@apply text-gray-700 bg-gray-50;
		@apply dark:bg-gray-800 dark:text-gray-100;
	}
	.theme-bg-dark {
		@apply text-gray-700 bg-gray-200;
		@apply dark:bg-gray-900 dark:text-gray-100;
	}

	.theme-border {
		@apply border border-gray-400/60  dark:border-gray-700/90;
	}

	.soft-title {
		@apply text-gray-500 dark:text-gray-100/50;
	}

	.container {
		@apply relative   lg:max-w-[55rem] xl:max-w-[65] 2xl:max-w-[75rem] 3xl:max-w-[100rem];
	}

	.application {
		@apply text-gray-700 bg-gray-50;
		@apply dark:bg-gray-800 dark:text-gray-100;
		@apply bg-gradient-to-b from-stone-200 to-gray-50 to-90%;
		@apply dark:bg-gradient-to-b dark:from-gray-700 dark:to-gray-800 to-90%;
	}
}
