@layer base {
  :root {
    --cfab-primary: green;
    --cfab-secondary: #28a745;
    --cfab-tertiary: #28a745;
  }
  :root {
    --sld-color-primary: var(--cfab-primary);
    --sld-color-secondary: var(--cfab-secondary);
    --sld-color-tertiary: var(--cfab-tertiary);

    --sld-color-foreground: #333333;
    --sld-color-background: #ffffff;
    --sld-color-paper: #f1f1f1;

    --sld-color-primary-alpha-low: color-mix(
      in srgb,
      var(--sld-color-primary),
      transparent 50%
    );
    --sld-color-secondary-alpha-mid: color-mix(
      in srgb,
      var(--sld-color-secondary),
      transparent 50%
    );
    --sld-color-tertiary-alpha-mid: color-mix(
      in srgb,
      var(--sld-color-tertiary),
      transparent 50%
    );

    --sld-color-background-alpha-low: color-mix(
      in srgb,
      var(--sld-color-background),
      transparent 10%
    );
    --sld-color-background-alpha-mid: color-mix(
      in srgb,
      var(--sld-color-background),
      transparent 50%
    );
    --sld-color-background-alpha-high: color-mix(
      in srgb,
      var(--sld-color-background),
      transparent 90%
    );

    --sld-color-foreground-alpha-low: color-mix(
      in srgb,
      var(--sld-color-foreground),
      transparent 10%
    );
    --sld-color-foreground-alpha-mid: color-mix(
      in srgb,
      var(--sld-color-foreground),
      transparent 50%
    );
    --sld-color-foreground-alpha-high: color-mix(
      in srgb,
      var(--sld-color-foreground),
      transparent 90%
    );

    --sld-color-border: color-mix(
      in srgb,
      var(--sld-color-foreground),
      transparent 70%
    );

    --sld-theme-gap-tiny: 1.5rem;

    --sld-hover-background-color: var(--sld-color-secondary-alpha-mid);
    --sld-hover-border-color: var(--sld-color-foreground-alpha-high);
    --sld-hover-shadow: var(--box-shad-3);

    --sld-selected-background-color: var(--sld-color-primary-alpha-high);
    --sld-selected-border-color: var(--sld-color-primary);
    --sld-selected-shadow: var(--box-shad-4);
  }
  :root.dark,
  :root[data-theme="dark"] {
    --sld-color-foreground: #ffffff;
    --sld-color-background: #27323a;
    --sld-color-paper: #3a3b3b;

    --sld-color-border: color-mix(
      in srgb,
      var(--sld-color-foreground),
      transparent 60%
    );
    --color-bg: var(--bg-gray-800);
    --color-text: var(--text-gray-700);
  }

  :root,
  :root.light {
    --cfab-foreground: #1a1a1a;
    --cfab-bg: rgb(255, 255, 255, 1);

    /** paper */
    --cfab-paper-bg-color: var(--cfab-bg-darken-10);
    --cfab-paper-border-color: var(--cfab-foreground-opacity-30);
    /** icon */
    --cfab-icon-color: var(--cfab-primary-darken-10);
  }

  :root.dark {
    --cfab-foreground: #ffffff;
    --cfab-bg: #1a1a1a;
    /** paper */
    --cfab-paper-bg-color: var(--cfab-bg-darken-10);
    --cfab-paper-border-color: var(--cfab-foreground-opacity-40);
    /** icon */
    --cfab-icon-color: var(--cfab-primary-lighten-60);
  }

  :root {
    --cfab-primary-darken-0: color-mix(in srgb, var(--cfab-primary), #999 0%);
    --cfab-primary-darken-10: color-mix(in srgb, var(--cfab-primary), #999 10%);
    --cfab-primary-darken-20: color-mix(
      in srgb,
      var(--cfab-primary),
      black 20%
    );
    --cfab-primary-darken-30: color-mix(
      in srgb,
      var(--cfab-primary),
      black 30%
    );
    --cfab-primary-darken-40: color-mix(
      in srgb,
      var(--cfab-primary),
      black 40%
    );
    --cfab-primary-darken-50: color-mix(
      in srgb,
      var(--cfab-primary),
      black 50%
    );
    --cfab-primary-darken-60: color-mix(
      in srgb,
      var(--cfab-primary),
      black 60%
    );
    --cfab-primary-darken-70: color-mix(
      in srgb,
      var(--cfab-primary),
      black 70%
    );
    --cfab-primary-darken-80: color-mix(
      in srgb,
      var(--cfab-primary),
      black 80%
    );
    --cfab-primary-darken-90: color-mix(
      in srgb,
      var(--cfab-primary),
      black 90%
    );
    --cfab-primary-darken-100: color-mix(
      in srgb,
      var(--cfab-primary),
      black 100%
    );
    /* Éclaircir --cfab-primary */
    --cfab-primary-lighten-0: color-mix(in srgb, var(--cfab-primary), white 0%);
    --cfab-primary-lighten-10: color-mix(
      in srgb,
      var(--cfab-primary),
      white 10%
    );
    --cfab-primary-lighten-20: color-mix(
      in srgb,
      var(--cfab-primary),
      white 20%
    );
    --cfab-primary-lighten-30: color-mix(
      in srgb,
      var(--cfab-primary),
      white 30%
    );
    --cfab-primary-lighten-40: color-mix(
      in srgb,
      var(--cfab-primary),
      white 40%
    );
    --cfab-primary-lighten-50: color-mix(
      in srgb,
      var(--cfab-primary),
      white 50%
    );
    --cfab-primary-lighten-60: color-mix(
      in srgb,
      var(--cfab-primary),
      white 60%
    );
    --cfab-primary-lighten-70: color-mix(
      in srgb,
      var(--cfab-primary),
      white 70%
    );
    --cfab-primary-lighten-80: color-mix(
      in srgb,
      var(--cfab-primary),
      white 80%
    );
    --cfab-primary-lighten-90: color-mix(
      in srgb,
      var(--cfab-primary),
      white 90%
    );
    --cfab-primary-lighten-100: color-mix(
      in srgb,
      var(--cfab-primary),
      white 100%
    );
    /*  opacity --cfab-primary */
    --cfab-primary-opacity-0: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 100%
    );
    --cfab-primary-opacity-10: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 90%
    );
    --cfab-primary-opacity-20: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 80%
    );
    --cfab-primary-opacity-30: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 70%
    );
    --cfab-primary-opacity-40: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 60%
    );
    --cfab-primary-opacity-50: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 50%
    );
    --cfab-primary-opacity-60: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 40%
    );
    --cfab-primary-opacity-70: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 30%
    );
    --cfab-primary-opacity-80: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 20%
    );
    --cfab-primary-opacity-90: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 10%
    );
    --cfab-primary-opacity-100: color-mix(
      in srgb,
      var(--cfab-primary),
      transparent 0%
    );
  }
}

@theme {
  --color-bg: var(--bg-gray-50);
  --color-text: var(--text-gray-700);

  --breakpoint-sm: 40rem;
  --breakpoint-phone: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 112rem;
  --breakpoint-hd: 120rem;
  --breakpoint-2k: 160rem;
  --breakpoint-4k: 230rem;
  /** shadow */
  --cfab-shadow:
    0 1px 3px 0 var(--cfab-shadow-color),
    0 1px 2px -1px var(--cfab-shadow-color);
  --cfab-shadow-color: var(--cfab-bg-darken-20);
  --cfab-shadow-color-hover: var(--cfab-foreground-darken-40);

  --cfab-soft-title-text-color: rgb(107, 114, 128);
  /* inputs */
  --cfab-input-foreground-color: var(--cfab-foreground);
  --cfab-input-bg-color: var(--sld-color-background);
  --cfab-input-border-color: var(--cfab-foreground-opacity-20);
  --cfab-input-border-color-focus: var(--cfab-primary-opacity-60);
  --cfab-input-shadow-hover: rgba(0, 0, 0, 0.1);

  /* Couleurs de bordure */
  --cfab-border-color: var(--cfab-foreground-opacity-10);
  --cfab-border-color-hover: var(--cfab-foreground-opacity-90);
  --cfab-border-color-focus: var(--cfab-foreground-opacity-90);
  /** gradients */

  --cfab-gradient-from: var(--cfab-bg);
  --cfab-gradient-to: var(--cfab-bg-darken-20);
  --cfab-gradient: linear-gradient(
    to bottom,
    var(--cfab-gradient-from),
    var(--cfab-gradient-to) 90%
  );

  /** --cfab-bg */

  /** darkens --cfab-bg */
  --cfab-bg-darken-0: color-mix(in srgb, var(--cfab-bg), black 0%);
  --cfab-bg-darken-10: color-mix(in srgb, var(--cfab-bg), #ededed 10%);
  --cfab-bg-darken-20: color-mix(in srgb, var(--cfab-bg), black 20%);
  --cfab-bg-darken-30: color-mix(in srgb, var(--cfab-bg), black 30%);
  --cfab-bg-darken-40: color-mix(in srgb, var(--cfab-bg), black 40%);
  --cfab-bg-darken-50: color-mix(in srgb, var(--cfab-bg), black 50%);
  --cfab-bg-darken-60: color-mix(in srgb, var(--cfab-bg), black 60%);
  --cfab-bg-darken-70: color-mix(in srgb, var(--cfab-bg), black 70%);
  --cfab-bg-darken-80: color-mix(in srgb, var(--cfab-bg), black 80%);
  --cfab-bg-darken-90: color-mix(in srgb, var(--cfab-bg), black 90%);
  --cfab-bg-darken-100: color-mix(in srgb, var(--cfab-bg), black 100%);
  /* eclairci --cfab-bg */
  --cfab-bg-lighten-0: color-mix(in srgb, var(--cfab-bg), white 0%);
  --cfab-bg-lighten-5: color-mix(in srgb, var(--cfab-bg), white 5%);
  --cfab-bg-lighten-10: color-mix(in srgb, var(--cfab-bg), white 10%);
  --cfab-bg-lighten-20: color-mix(in srgb, var(--cfab-bg), white 20%);
  --cfab-bg-lighten-30: color-mix(in srgb, var(--cfab-bg), white 30%);
  --cfab-bg-lighten-40: color-mix(in srgb, var(--cfab-bg), white 40%);
  --cfab-bg-lighten-50: color-mix(in srgb, var(--cfab-bg), white 50%);
  --cfab-bg-lighten-60: color-mix(in srgb, var(--cfab-bg), white 60%);
  --cfab-bg-lighten-70: color-mix(in srgb, var(--cfab-bg), white 70%);
  --cfab-bg-lighten-80: color-mix(in srgb, var(--cfab-bg), white 80%);
  --cfab-bg-lighten-90: color-mix(in srgb, var(--cfab-bg), white 90%);
  --cfab-bg-lighten-100: color-mix(in srgb, var(--cfab-bg), white 100%);

  /* opacity --cfab-bg */
  --cfab-bg-opacity-0: color-mix(in srgb, var(--cfab-bg), transparent 100%);
  --cfab-bg-opacity-10: color-mix(in srgb, var(--cfab-bg), transparent 90%);
  --cfab-bg-opacity-20: color-mix(in srgb, var(--cfab-bg), transparent 80%);
  --cfab-bg-opacity-30: color-mix(in srgb, var(--cfab-bg), transparent 70%);
  --cfab-bg-opacity-40: color-mix(in srgb, var(--cfab-bg), transparent 60%);
  --cfab-bg-opacity-50: color-mix(in srgb, var(--cfab-bg), transparent 50%);
  --cfab-bg-opacity-60: color-mix(in srgb, var(--cfab-bg), transparent 40%);
  --cfab-bg-opacity-70: color-mix(in srgb, var(--cfab-bg), transparent 30%);
  --cfab-bg-opacity-80: color-mix(in srgb, var(--cfab-bg), transparent 20%);
  --cfab-bg-opacity-90: color-mix(in srgb, var(--cfab-bg), transparent 10%);
  --cfab-bg-opacity-90: color-mix(in srgb, var(--cfab-bg), transparent 10%);
  --cfab-bg-opacity-95: color-mix(in srgb, var(--cfab-bg), transparent 5%);
  --cfab-bg-opacity-100: color-mix(in srgb, var(--cfab-bg), transparent 0%);

  /* Assombrir --cfab-foreground */
  --cfab-foreground-darken-0: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 0%
  );
  --cfab-foreground-darken-10: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 10%
  );
  --cfab-foreground-darken-20: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 20%
  );
  --cfab-foreground-darken-30: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 30%
  );
  --cfab-foreground-darken-40: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 40%
  );
  --cfab-foreground-darken-50: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 50%
  );
  --cfab-foreground-darken-60: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 60%
  );
  --cfab-foreground-darken-70: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 70%
  );
  --cfab-foreground-darken-80: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 80%
  );
  --cfab-foreground-darken-90: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 90%
  );
  --cfab-foreground-darken-100: color-mix(
    in srgb,
    var(--cfab-foreground),
    black 100%
  );
  /* eclairci --cfab-foreground */
  --cfab-foreground-lighten-0: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 0%
  );
  --cfab-foreground-lighten-10: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 10%
  );
  --cfab-foreground-lighten-20: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 20%
  );
  --cfab-foreground-lighten-30: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 30%
  );
  --cfab-foreground-lighten-40: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 40%
  );
  --cfab-foreground-lighten-50: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 50%
  );
  --cfab-foreground-lighten-60: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 60%
  );
  --cfab-foreground-lighten-70: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 70%
  );
  --cfab-foreground-lighten-80: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 80%
  );
  --cfab-foreground-lighten-90: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 90%
  );
  --cfab-foreground-lighten-100: color-mix(
    in srgb,
    var(--cfab-foreground),
    white 100%
  );

  /* opacity --cfab-foreground */
  --cfab-foreground-opacity-0: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 100%
  );
  --cfab-foreground-opacity-5: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 95%
  );
  --cfab-foreground-opacity-10: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 90%
  );
  --cfab-foreground-opacity-20: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 80%
  );
  --cfab-foreground-opacity-30: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 70%
  );
  --cfab-foreground-opacity-40: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 60%
  );
  --cfab-foreground-opacity-50: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 90%
  );
  --cfab-foreground-opacity-60: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 40%
  );
  --cfab-foreground-opacity-70: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 30%
  );
  --cfab-foreground-opacity-80: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 20%
  );
  --cfab-foreground-opacity-90: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 10%
  );
  --cfab-foreground-opacity-100: color-mix(
    in srgb,
    var(--cfab-foreground),
    transparent 0%
  );
}
